<!--
 File name: addPeopleToEvent.html
 Author(s): Ryan Yung, Kevan Yang
 Description:    Invite people to event
-->

<html ng-app="addPeopleToEvent.html">
	<head>
	<title>Ziconnect</title>
	<meta charset="	utf-8">
	<link rel="stylesheet" href="/view/stylesheet.css">

	<! -- Load scripts here -->

	</head>

	<body>
		<form class="input">
			<h2>Select People to Invite</h2>

			<p> If they do not have an account, enter their email address. 
					If they have an account, enter their username.
			</p>

			<fieldset>
				<p class="input-type">
				<label>Email</label>
				<br />
				<input id="email-address"
							 type="text"
							 class="input-box"
							 placeholder="Email Address" />

				</p>
				<p class="input-type">
					<label>Username </label>
					<br />
				<input id="user-name"
							 type="text"
							 class="input-box"
							 placeholder="Username" />

			</p>

			<button class="send"
							onclick="./home.html">
							Send Invite
			</button>


