<!--
 File name: createEvent.html
 Author(s): Christian Cheng
 Description: Event creation form
-->

<!DOCTYPE html>

<html>
   <body>
      <form action="/events/create" method="post"
        enctype="multipart/form-data">
         <fieldset>

            <label for="eventName">Event Name:</label>
            <input type="text" id="eventName" name="eventName"
            placeholder="Name of your event" />
            <br />
            <label for="eventLocation">Event Location:</label>
            <input type="text" id="eventLocation" name="eventLocation"
            placeholder="Where is your event taking place?" />
            <br />
            <label for="eventDate">Event Date:</label>
            <input type="text" id="eventDate" name="eventDate"
            placeholder="When is your event taking place?" />
            <br />
            <label for="eventDescription">Description:</label>
            <textarea id="eventDescription" name="eventDescription"
            placeholder="Enter a short description about
            your event"></textarea>
            <br />
            <input type="submit" value="Create Event" />

         </fieldset>
      </form>
   </body>
</html>
