<!--
 File name: createEvent.html
 Author(s): Christian Cheng
 Description: Event creation form
 NOTE: This is a temporary html file to hold the event creation form.
       Since we are utilizing Angular, we will not have separate html files for
       every screen.
       Also utilizing this file temporarily for screen sequence diagrams

       TODO: Update with latest code from createEvent.html

       Depracated
-->

<!DOCTYPE html>

<html>
   <body>
      <form action="/events/create" method="post"
        enctype="multipart/form-data">
         <fieldset>

            <label for="eventName">Event Name:</label>
            <input type="text" id="eventName" name="eventName"
            placeholder="Name of your event" />
            <br />
            <label for="eventLocation">Event Location:</label>
            <input type="text" id="eventLocation" name="eventLocation"
            placeholder="Where is your event taking place?" />
            <br />
            <label for="eventDate">Event Date:</label>
            <input type="text" id="eventDate" name="eventDate"
            placeholder="When is your event taking place?" />
            <br />
            <label for="eventDescription">Description:</label>
            <textarea id="eventDescription" name="eventDescription"
            placeholder="Enter a short description about
            your event"></textarea>
            <br />
            <input type="submit" value="Create Event" />

         </fieldset>
      </form>
   </body>
</html>
