/**
 * File name: stylesheet.css
 * Authors: TODO
 * Description: TODO
 */

/********************* GENERAL ELEMENT STYLING **********************/
body {
  background-image:url("../assets/bg1.jpg");
  background-color:rgba(5,58,89);
  background-repeat: repeat-y;
  color: #dcedff;
  min-width: 1600px;
  min-height: 800px;
}

p {
	font-family: "Open Sans", sans-serif;
	color: #dcedff;
	display: table-cell;
}

h1 {
	font-family: "Open Sans", sans-serif;
	font-size:200%;
	color: rgb(36,164,199);
}

h2 {
	font-family: "Open Sans", sans-serif;
	font-size:135%;
}

h3 {
	font-family: "Open Sans", sans-serif;
	font-size:135%;
	color: rgb(36,164,199);
}

th {
  color: rgb(36,164,199);
}

a {
  color: #dcedff;
  text-decoration:none;
}

a:hover {
  color: #ff9900;
  text-decoration:none;
}

a:visited {
  color: #dcedff;
  text-decoration:none;
}

img.center {
  display: block;
  margin: 0 auto;
}

form {
  display: table;
}

label {
  display: table-cell;
  color: rgb(36,164,199);
  font-weight: normal;

}

input {
  border: 30px #33ccff;
  border-radius: 10px;
  background-color: rgba(5,58,89,0.6);
  width: 200px;
  color: #dcedff;
}

input[type=text] {
  color: #dcedff;
  border: 30px #33ccff;
  border-radius: 10px;
  background-color: rgba(5,58,89,0.6);
}

/************************* CUSTOM ELEMENTS **************************/
textarea{
  width: 100%;
  height: 100px;
  resize: none;
  background-color: rgba(5,58,89,0.6);
  border: none;
  border-radius: 10px;
}

ntext {
  font-family: "Open Sans", sans-serif;
  color: white;
}

pblue {
  font-family: "Open Sans", sans-serif;
  color: rgb(36,164,199);
}

/************************** GENERAL CLASSES *************************/
.list_btn{
  margin: 0px 15px 0px 0px;
}

#prof {
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/*************************** LOGIN SCREEN ***************************/
#header {
  background-color: rgba(36,164,199,0.2);
  border-radius:10px;
  padding:5px;
  text-align:center;
}

#splash {
  background-color: rgba(5,58,89,0.6);
  border-radius:10px;
  padding:10px 20px;
  text-align:center;
  margin: auto;
  width: 50%;
}

/******************** STYLING FOR THE MAIN VIEW *********************/
/*** Description: this is the dynamic view that gets updated as   ***/
/***              the user navigates the website.                 ***/
/***              This will include the:                          ***/
/***                1. navbar                                     ***/
/***                2. eventSidebar                               ***/
/***                3. main content view                          ***/
/********************************************************************/
/****************************** NAVBAR ******************************/
.navbar-default{
  color: #ffffff;
  margin: 10px;
  background-color: rgba(36,164,199,0.2);
  border-radius:10px;
  border-style: none;
  padding:5px;
}

.navbar-brand {
  color: #ffffff;
  line-height: 50px;
  margin-top: 10px;
}

.navbar-form {
  color: #ffffff;
  line-height: 60px;
  margin-top: 15px;
}

.navbar-nav li a {
  line-height: 50px;
}

.glyphicon.glyphicon-envelope{
  font-size: 200%;
  padding: 12px 5px 5px;
  margin: 0px;
  color: white;
}

.glyphicon.glyphicon-envelope:hover{
  color: grey;
}

/************************** EVENT SIDEBAR ***************************/
.sidebar {
  height: 100%;
  width: 200px;
  float: left;
  padding: 5px;
  position: inline-block;
  z-index: 1;
  background-color: rgba(5,58,89,0.6);
  border-radius:10px;
  overflow-y: scroll;
  color: #ffffff;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 15px;
}

.sidebar ul {
  color: #dcedff;
  padding: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  padding: 20px 0 20px 0;
  display: block;
  text-align: center;
  color: #dcedff;
}

.sidebar li:hover {
  background: rgba(36,164,199,0.2);
  color: #ff9900;
}

/************************* MAIN CONTENT VIEW ************************/
.content {
  position:inline-block;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(5,58,89,0.6);
  border-radius:10px;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  overflow-y: scroll;
  height: 800px;
  
  list-style-type: none;
}

/************************ partials/home.html ************************/
#home{
  height: 200px;
}

contentcenter {
  text-align:center;
}

/*************** ALL PORTIONS OF EVENT INFO STYLING *****************/
/*** Description: event info is split up into 3 columns           ***/
/***                1. general event info + potluck/ride details  ***/
/***                2. comments section                           ***/
/***                3. guest list                                 ***/
/********************************************************************/
#eventInfo{
  float: left;
  width: 37.5%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.cover {
  background-image: url("../assets/nature-background.jpg");
  width: 100%;
  height: 25%;
  border-radius: 5px
}

/*********************** partials/addPeopleToEvent.html *************/
.search_user > div{
  float:left;
  margin-right: 100px;
  
  height: 100%;
  overflow-y: scroll;
}

.search_results > li{
  margin-top: 5px;
}

/***************************** COMMENTS *****************************/
.comments{
  float: none;
  margin-left: 40%;
  padding-left: 0px;
  width: 35.5%;
  max-height: 95%;
}

.commentDiv {
  width: 100%;
  position:inline-block;
  padding: 10px;
  background-color: rgba(5,58,89,0.6);
  border-radius:10px;
  margin-bottom: 15px;
  margin-right: 50px;
  min-height: 60px;
}

.commentPic {
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 50px;
    float: left;
    padding-right: 10px;
}

#commentBlock {
  position: relative;
}

#commentBlock img {
    position: absolute;
    top: 0%;
    /*margin-top: -50px;  !* = image height div 2 *!*/
}

#commentBlock span {
  margin-left: 50px;  /* = image width + 8 */
  display: block;
  word-wrap: normal;
  white-space: normal;
}

#commentFeed{
  margin-bottom: 10px;
  width: 100%;
  max-height: 40em;
  overflow-y: scroll;
}

/**************************** GUEST LIST ****************************/
.sidebar2 {
  width: 20%;
  padding: 15px;
  margin-bottom: 15px;
  float: right;
  z-index: 1;
  background-color: rgba(0,0,0,0.6);
  border-radius:10px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #ffffff;
  max-height: 97%;
}

.sidebar2 ul {
  color: #dcedff;
  padding: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar2 li {
  padding: 5px 0 5px 0;
  display: block;
  text-align: left;
  color: #dcedff;
}

.userSideBarTitle {
  display: block;
  text-align:center;
  color: #dcedff;
  font-size:20px;
} 

/********************** make buttons look nice **********************/
.button {
  border: 0px solid #24a4c7;
  background: #27a4c7;
  background: -webkit-gradient(linear, left top, left bottom, from(#27a4c7),
    to(#27a4c7));
  background: -webkit-linear-gradient(top, #27a4c7, #27a4c7);
  background: -moz-linear-gradient(top, #27a4c7, #27a4c7);
  background: -ms-linear-gradient(top, #27a4c7, #27a4c7);
  background: -o-linear-gradient(top, #27a4c7, #27a4c7);
  background-image: -ms-linear-gradient(top, #27a4c7 0%, #27a4c7 100%);
  padding: 10px 20px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset
    rgba(255,255,255,0.4) 0 0px 0;
  -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4)
    0 0px 0;
  box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px
    0;
  text-shadow: #27a4c7 0 1px 0;
  color: #ffffff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  vertical-align: middle;
  
  margin-top: 5px;
  margin-bottom: 5px;
}

.button:hover {
  border: 0px solid #3c8cba;
  text-shadow: #1e4158 0 1px 0;
  background: #3c8cba;
  background: -webkit-gradient(linear, left top, left bottom, from(#3c8cba),
    to(#3c8cba));
  background: -webkit-linear-gradient(top, #3c8cba, #3c8cba);
  background: -moz-linear-gradient(top, #3c8cba, #3c8cba);
  background: -ms-linear-gradient(top, #3c8cba, #3c8cba);
  background: -o-linear-gradient(top, #3c8cba, #3c8cba);
  background-image: -ms-linear-gradient(top, #3c8cba 0%, #3c8cba 100%);
  color: #ffffff;
}
.button:active {
  text-shadow: #1e4158 0 1px 0;
  border: 0px solid #3c8cba;
  background: #3c8cba;
  background: -webkit-gradient(linear, left top, left bottom, from(#3c8cba),
    to(#3c8cba));
  background: -webkit-linear-gradient(top, #3c8cba, #3c8cba);
  background: -moz-linear-gradient(top, #3c8cba, #3c8cba);
  background: -ms-linear-gradient(top, #3c8cba, #3c8cba);
  background: -o-linear-gradient(top, #3c8cba, #3c8cba);
  background-image: -ms-linear-gradient(top, #3c8cba 0%, #3c8cba 100%);
  color: #fff;
}

::-webkit--scrollbar{
  display: none;
}