/**
 * File name: stylesheet.css
 * Authors: TODO
 * Description: TODO
 */

/* Temporary content div rules. We don't actually want to hardcode values into
 * the code
 * */

body {
  background-image:url("bg.jpg");
  background-color:rgba(5,58,89);
  color: #ffffff;
}

p {
	font-family: "Open Sans", sans-serif;
	color: white;
}

h1 {
	font-family: "Open Sans", sans-serif;
	font-size:200%;
	color: rgb(36,164,199);
}

ntext {
  font-family: "Open Sans", sans-serif;
  color: white;
}

.content {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
  background-color: rgba(5,58,89,0.6);
	border-radius:10px;
	margin-top: 15px;
	margin-left: 200px;
	width: 60%;
}

.sidebar {
  height: 100%;
  width: 15%;
  padding: 5px;
  position: fixed;
  z-index: 1;
  background-color: rgba(5,58,89,0.6);
  border-radius:10px;
  overflow-y: scroll;
  color: #ffffff;
  margin-top: 5px;
  margin-left: 10px;
}

.sidebar ul {
  padding: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.sidebar li {
  padding: 20px 0 20px 0;
  display: block;
  text-align: center;
  color: #ffffff;
}

.sidebar li:hover {
  background: #000;
} 

#prof {
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 50px;
  border-radius: 50%;
}

.navbar-default{
  color: #ffffff;
  margin: 10px;
  background-color: rgba(36,164,199,0.2);
  border-radius:10px;
  border-style: none;
  padding:5px;
}

.navbar-brand {
  color: #ffffff;
  line-height: 50px;
}
.navbar-form {
  color: #ffffff;
  line-height: 60px;
}

.navbar-nav li a {
  line-height: 50px;
}

#newEvent {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    bottom: 50px;
    cursor: pointer;
    width: 100%;
}

.google{
    background-image: url(../assets/google-logo.jpg);
    background-color:  transparent;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    width: 110px;
    cursor: pointer;
    background-size: 100%;
    
}

/* make buttons look nice */
.button {
   border: 0px solid #24a4c7;
   background: #27a4c7;
   background: -webkit-gradient(linear, left top, left bottom, from(#27a4c7),
   to(#27a4c7));
   background: -webkit-linear-gradient(top, #27a4c7, #27a4c7);
   background: -moz-linear-gradient(top, #27a4c7, #27a4c7);
   background: -ms-linear-gradient(top, #27a4c7, #27a4c7);
   background: -o-linear-gradient(top, #27a4c7, #27a4c7);
   background-image: -ms-linear-gradient(top, #27a4c7 0%, #27a4c7 100%);
   padding: 10px 20px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset
   rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4)
   0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px
   0;
   text-shadow: #27a4c7 0 1px 0;
   color: #ffffff;
   font-size: 14px;
   font-family: "Open Sans", sans-serif;
   text-decoration: none;
   vertical-align: middle;
}

.button:hover {
   border: 0px solid #3c8cba;
   text-shadow: #1e4158 0 1px 0;
   background: #3c8cba;
   background: -webkit-gradient(linear, left top, left bottom, from(#3c8cba),
   to(#3c8cba));
   background: -webkit-linear-gradient(top, #3c8cba, #3c8cba);
   background: -moz-linear-gradient(top, #3c8cba, #3c8cba);
   background: -ms-linear-gradient(top, #3c8cba, #3c8cba);
   background: -o-linear-gradient(top, #3c8cba, #3c8cba);
   background-image: -ms-linear-gradient(top, #3c8cba 0%, #3c8cba 100%);
   color: #ffffff;
}
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 0px solid #3c8cba;
   background: #3c8cba;
   background: -webkit-gradient(linear, left top, left bottom, from(#3c8cba),
   to(#3c8cba));
   background: -webkit-linear-gradient(top, #3c8cba, #3c8cba);
   background: -moz-linear-gradient(top, #3c8cba, #3c8cba);
   background: -ms-linear-gradient(top, #3c8cba, #3c8cba);
   background: -o-linear-gradient(top, #3c8cba, #3c8cba);
   background-image: -ms-linear-gradient(top, #3c8cba 0%, #3c8cba 100%);
   color: #fff;
}
