<!DOCTYPE html>
<html>
    <head>
        <title>Ziconnect</title>
        <meta charset="utf-8">
        
        <!-- load scripts here -->
        <!-- load boostrap scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- load angular scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.min.js"></script>
        
        <!-- load local files -->
        <!-- load css file -->
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
        
        <!-- load local scripts -->
        <script src="../directives/navbar.js"></script>
    
    </head>

    <body>
        <div ng-app="navigate">
            <navbar></navbar>
        
        </div>
    
    
    
    </body>



</html>