<!DOCTYPE html>
<html>
    <head>
        <title>Ziconnect</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/public/view/stylesheet.css">
        
        <!-- Load scripts here -->
        <script src="/scripts/jquery/dist/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="/scripts/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/view/stylesheet.css">

        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
        <!-- could not use locally for some reason (local scripts dont exist)
        <script src="/scripts/angular/angular.js"></script>
        -->
        
        <script src="/public/directives/navbar.js"></script>
        <script src="/public/view/test.js"></script>
    
    </head>

    <body>
        <div ng-app="navigate">
            <navbar></navbar>
        
        </div>
    
    
    
    </body>



</html>