<!--
 File name: addPeopleToEvent.html
 Author(s): Ryan Yung, Kevan Yang
 Description:    Invite people to event
-->


  <!-- Load scripts here -->

  <div class="content"  ng-controller="InviteController">

    <form action="/events/addPeopleToEvent" method="post" autcomplete="off"
      enctype="multipart/form-data">

<!--
    <form action= "/events/addPeopleToEvent">

    -->
      <h2>Select People to Invite</h2>

      <pblue> If they do not have an account, enter their email address. </pblue>

      <pblue> If they have an account, enter their username. </pblue>

      <br>
      
      <fieldset>
        <p class="input-type">
        <label>Email</label>
        <br />
        <input id="email-address"
               type="text"
               class="input-box"
               placeholder="Email Address" />

        </p>
        <p class="input-type">
          <label>Username </label>
          <br />
        <input id="user-name"
               type="text"
               class="input-box"
               placeholder="Username" />

      </p>

      <button class="send"
              onclick="./home.html">
              Send Invite
      </button>

    </div>
