<!--
 File name: addPeopleToEvent.html
 Author(s): Caris Wei, Justin Cai, Ryan Yung, Kevan Yang
 Description:    Invite people to event
-->


  <!-- Load scripts here -->

  <div class="content" >

      <h2>Invite People</h2>

      <pblue> Search for a person's name! </pblue>

      </br></br>
      
      <form ng-controller="InviteController" ng-submit="inviteFunc()" value="Send">
        <fieldset>

            <p class="input-type">
            <label>Name </label>
            <input id="user-name"
                   type="text"
                   class="input-box"
                   placeholder="John Doe" 
                   ng-model="input"/>
            </p>
            <li ng-repeat ="user in users track by $index"><img id="prof" src="{{user.picture}}">{{user.name}}   &nbsp;&nbsp;  {{user.email}}
            <button type="button" class="btn btn-default">Invite</button>
            </li>
            
          </fieldset>
      </form>
</div>