<!--
 File name: createGroup.html
 Authors: Kevan Yang
 Description: edit event page, will link to database
-->
<!DOCTYPE html>
<html>
<head>
  <title> Create Group</title>
  <meta charset="utf-8">
  <link rel="stylesheet">
</head>
<body>
  <div ng-controller="groupListController">
    <h1>Create a Group</h1>
    <form action="/action_page.php">
      Group Name: <input type="text" name="GroupName" value=""><br>
      People to Add: <input type="text" name="LastName" value=""><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>
