<!--
 File name: login.html
 Authors: Kevan Yang, Ryan Yung
 Description: edit event page, will link to database
-->
<!DOCTYPE html>
<html ng-app="editevent">
<head>
  <title> Edit Event</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="editEvent.css">
</head>
<body>
  <h1>Edit Your Event</h1>
  <form action="/action_page.php">
    Event Name: <input type="text" name="EventName" value=""><br>
    Event Location: <input type="text" name="LastName" value=""><br>
    Event Date: <input type = "text" name = "Date" value = ""><br>
    Description: <input type = "text" name = "Descritipn" value = ""><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
