<!--
 File name: login.html
 Authors: Kevan Yang, Ryan Yung, Christian Cheng
 Description: edit event page, will link to database
-->
<!DOCTYPE html>

<div class="content">
  <h1>{{eventData.eventName}} > Edit Event</h1>
  <br />
  <!--<form action="/events/create" method="post" autcomplete="off"-->
    <form ng-controller="EventController">
    <!--enctype="multipart/form-data">-->
     <fieldset>

        <label for="eventName">Event Name:&nbsp;</label>
        <input type="text" id="eventName" name="eventName"
                                          ng-model="eventData.eventName"
        autocomplete="off" required/>
        <br /><br />

        <label for="eventLocation">Event Location:&nbsp;</label>
        <input type="text" id="eventLocation" name="eventLocation"
                                              ng-model="eventData.eventLocation"
        autocomplete="off" required/>
        <br /><br />

        <label for="eventTime">Event Time:&nbsp;</label>
        <input type="time" id="eventTime" name="eventTime"
        ng-model="eventData.eventTime" required/>
        <br/><br/>

        <label for="eventDate">Event Date:&nbsp;</label>
        <input type="date" id="eventDate" name="eventDate"
                                          ng-model="eventData.eventDate"
        required/>
        <br /></br />

        <label for="potluck">Potluck:&nbsp;</label>         
      <select id="potluck" name="potluck" ng-options="(item?'Yes':'No') for
        item in [true, false]" ng-model="potluck">
      </select>
      <br/><br/>


        <label for="rides">Rides:&nbsp;</label>         
      <select id="rides" name="ridesk" ng-options="(item?'Yes':'No') for
        item in [true, false]" ng-model="rides">
      </select>
      <br/><br/>

        <label for="eventDescription">Description:</label>
        <textarea id="eventDescription" name="eventDescription"
                                        ng-model="eventData.eventDescription"
                                        required>
          </textarea>
        <br /><br />

        <!--input type="file" id="eventImage"-->

        <!-- Hidden event key field -->
        <input type="hidden" id="eventKey" name="eventKey"
                                           ng-model=eventData.$id />

         <a href="/{{eventData.$id}}/info"><button class="button" > Cancel
           </button></a>
         &nbsp;
         <input class="large" type="submit" value="Edit Event"
         ng-click="editEvent()">


     </fieldset>
  </form>
</div>
