<!--
 File name: eventInfo.html
 Authors: TODO
 Description: TODO
-->


<div class="content">
  <div><h1>{{eventData.eventName}}</h1></div>
  <h2><pblue>When: </pblue> {{eventData.eventTime}} <pblue> on </pblue>
    {{eventData.eventDate}}
    <br/>
  <pblue>Where: </pblue> {{eventData.eventLocation}}
  <br/><br/>
  <pblue>Description:</pblue>
  <br/>
  {{eventData.eventDescription}}
  </h2>

  <br/>
  <br/>
  <div ng-app="myApp" ng-controller="buttonCtrl">
  <button class="button" id="editEvent" ng-click="toEditPage()"
                                        data-ng-nit="init(false)"
                                        ng-disabled="false">Edit Event</button>
  
</div>

  
</div>

<!-- Script may have to be moved -->
<script>
var app = angular.module('myApp', []);
app.controller('buttonCtrl', function($scope)
{

  $scope.creator = false;
  // meant to show button if creator is view event
  $scope.init = function(creator) {
    $scope.creator = true;
  };
  // goes to edit event page
  $scope.toEditPage = function() {
    console.log('To edit event page');
    $scope.randomnum++;
    window.location = './editEvent.html';
  };

});
</script>
