<!--
 File name: newEvent.html
 Authors: TODO
 Description: TODO
-->

<div class="content">
  <h1>Create New Event</h1>
  <br />
  <!--<form action="/events/create" method="post" autcomplete="off"-->
  <form ng-controller="EventController">
    <!--enctype="multipart/form-data">-->
    <fieldset>

      <label for="eventName">Event Name:&nbsp;</label>
      <input type="text" id="eventName" name="eventName" ng-model="eventName"
             autocomplete="off" required/>
      <br /><br />
      
      <label for="eventLocation">Event Location:&nbsp;</label>
      <input type="text" id="eventLocation" name="eventLocation" ng-model="eventLocation"
             autocomplete="off" required/>
      <br /><br />
        
      <label for="eventTime">Event Time:&nbsp;</label>
      <input type="time" id="eventTime" name="eventTime" ng-model="eventTime" required/>
      <br/><br/>
        
      <label for="eventDate">Event Date:&nbsp;</label>
      <input type="date" id="eventDate" name="eventDate" ng-model="eventDate" required/>
      <br /></br />
       
      <!--
      
      <input type="radio" name="potluck" data-ng-model="choice.isUserAnswer"
                                         data-ng-value="true"
                                         ng-model="potluck"> Yes
                                         &nbsp;
      <input type="radio" name="potluck" data-ng-model="choice.isUserAnswer"
                                         data-ng-value="false"
                                         ng-model="potluck"> No
      -->

      <label for="potluck">Potluck:&nbsp;</label>         
      <select id="potluck" name="potluck" ng-options="(item?'Yes':'No') for
        item in [true, false]" ng-model="potluck">
      </select>
      <br/><br/>

      <!--
      <label for="potluck">Potluck:&nbsp;</label>
      <input type="checkbox" id="potluck" name="potluck" ng-model="potluck"/>


      <label for="potluck">Potluck:&nbsp;</label>
      <input type="select" id="potluck" name="potluck" ng-model="potluck">
        <select>
          <option value=true>Yes</option>
          <option value=false>No</option>
        </select>
      </input>
        -->

      <label for="rides">Rides:&nbsp;</label>         
      <select id="rides" name="ridesk" ng-options="(item?'Yes':'No') for
        item in [true, false]" ng-model="rides">
      </select>
      <br/><br/>
  
        
        
      <!--label for="rides">Rides:&nbsp;</label>
      <input type="checkbox" id="rides" name="rides" ng-model="rides"/>
      <br /><br /-->
        
      <label for="eventDescription">Description:</label>
      <textarea id="eventDescription" name="eventDescription" ng-model="eventDescription" 
                required></textarea>
      <br /><br />

      <input type="file" id="eventImage">
      <br />
      <!--<input class="button" type="submit" value="Create Event" 
          ng-click="createEvent(event)"/>-->
      <input class="button" type="submit" id="submitButton" value="Create Event" 
             ng-click="createEvent(user.uid)">
     </fieldset>
  </form>
</div>
