<!--
 File name: searchEvent.html
 Authors: Caris Wei
 Description: The page that comes up when you search for events
-->

<div class="content" ng-controller="EventController">
  <h1><pblue>Search Results</pblue></h1>
  </br>

  <div class="search_events_results">
    <div ng-repeat ="event in found track by $index">
      <a href="/{{event.$id}}/info">
        <div id="event_card">
          <h3>{{event.eventName}}</h3>
          
          <p>
            {{event.eventLocation}}<br/>
            {{event.eventDate}}, {{event.eventTime}}<br/><br/>
            {{event.eventDescription}}
          </p>
          
        </div>
      </a>
    </div>
  </div>
</div>
