<!--
 File name: viewNotifications.html
 Author(s): Ryan Yung, Elliot Yoon
 Description: View for notifications
-->

<div class="content" ng-controller="NotificationController">
  <h1>Event Invitations</h1>
  <body>
    <div ng-repeat="note in notes track by notes.uid">
      <li>
        You have an invitation to the event: {{note.eventName}}!

        <a href="/{{note.uid}}/info"><button class="button">
          View Event Info
        </button></a>

        <a href="/{{note.uid}}/info"><button class="button" ng-click="acceptInvite(note)">
          Accept
        </button></a>

        <button class="button" ng-click="declineInvite(note)">Decline</button>

        <br /><br />
      </li>
    </div>
  </body>
</div>
