<!--
 File name: viewNotifications.html
 Author(s): Ryan Yung, Elliot Yoon
 Description: View for notifications
-->

<div class="content" ng-controller="NotificationController">
  <h1>Event Invitations</h1>
  </br>
  
  <div class="notifs">
    <div ng-repeat="note in notes track by note.uid">
      <div id="notif_card">
        You have an invitation to the event: <h1>{{note.eventName}}</h1><br/>

        <a href="/{{note.uid}}/info">
          <button class="button">
            View Event Info
          </button>
        </a>

        <a href="/{{note.uid}}/info"><button class="button" ng-click="acceptInvite(note)">
          Going
        </button></a>

        <button class="button" ng-click="declineInvite(note)">Can't Go</button>

        <br /><br />

    </div>
  </div>
</div>
