<!--
  File name: comments.html
  Authors: Elliot Yoon
  Description: Displays comments for the event.
-->

<div class="comments" ng-controller="CommentController">

  <h2>Comments</h2>
  <textarea rows="4" cols="50" id="commentBox"
    name="commentBox"
    ng-model="commentText"
    placeholder="Enter your comment here!">
  </textarea>
  <br />
  <button ng-click="postComment()" class="button">Submit</button>
  <br /><br/>

  <div ng-repeat="comment in commentList">

    <div class="commentDiv">
      <div id="commentBlock">
        <p>
          <img src="{{comment.userPicture}}" class="commentPic"/>
          <span> <b>{{comment.userEmail}}</b> on {{comment.timeStamp}}:
          </span>
          <span>
            {{comment.message}}
          </span>
        </p>
      </div>
    </div>

    <!--<p>-->
      <!--<img src="{{comment.userPicture}}" class="commentPic"><b>{{comment.userEmail}}</b> on {{comment.timeStamp}}:<br />-->
    <!--{{comment.message}}<br /><br />-->
    <!--</p>-->
  </div>
</div>
