<!--
 File name: grouplist.html
 Authors: TODO
 Description: Group list.
-->

<div class="grouplist" ng-controller="GroupController">
  <div ng-repeat = "group in userGroups"> <!--Display current groups -->
    <pblue>{{group.groupName}}</pblue>
    <button class="button" ng-click="toGroupPage(group.groupID)">
      View</button><br/>
  </div>
  <button ng-click="displayForm()" class="button" hidden="true">
    Create New Group
  </button> <br/>
  <div class="groupform"> <!-- Hide if button not pressed -->
    <input type="text" ng-model="groupName" name="groupName"
    autocomplete="off" placeholder="Enter name of your new group"
    required/><br />
    <button ng-click="newGroup(groupName)"
    class="button">Create Group</button>
  </div>
</div>
