<!--
 File name: profilegroups.html
 Authors: Kevan Yang, Elliot Yoon
 Description: Group list for profile page.
-->

<div class="profilegroups" ng-controller="GroupListController">
  <h2>Groups</h2>
  <div class="groupform"> 
    <input type="text" name="groupNameBox" ng-model="newGroupName" 
    placeholder="Name of your new group" required /><br />
    <button ng-click="newGroup()" class="button">
      Create Group
    </button>
  </div>

  <!-- Display current groups -->
  <li ng-repeat="group in userGroups track by group.uid">
    <a href="/groups/{{group.uid}}/info"><pblue>{{group.groupName}}</pblue></a>
  </li>
</div>
