<!--
  File name: rides.html
  Authors: Elliot Yoon
  Description: Displays rides for the event.
-->

<div class="rides" ng-controller="RideController" ng-if="eventData.eventRides">
  <hr>
  
  <h3>Rides</h3>
  
  <div ng-repeat="ride in ridesList track by ride.$id">
    <h5>Driver: {{ride.driverName}} | Seats Left: {{ride.seats}}
      &nbsp;
      <button class="button" ng-disable="rideHost"
        ng-click="joinRide(ride.$id)">
        Join Ride
      </button> 
      <br/>
      Passengers:
    </h5>
    <li ng-repeat="passenger in ride.passengers">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{passenger}}
    </li>
    <br />
    </p>
  </div>

  <div ng-hide="ridesList.length">No one is hosting a ride yet. Better call a
    Lyft!
    <br/><br/>
  </div>
  
  <input type="text" name="seatsBox" ng-model="numSeatsInput" ng-hide="rideHost" 
         placeholder=" # of seats you have">

  &nbsp;
  <button class="button" ng-click="hostRide()" ng-hide="rideHost">
    Host a ride!
  </button>
</div>
