<!--
  File name: rides.html
  Authors: Elliot Yoon
  Description: Displays rides for the event.
-->

<div class="rides" ng-controller="RideController">
  <div><h1>Rides</h1></div>
  <div ng-repeat="ride in ridesList">
    <p>Driver: {{ride}} <br />
    Seats Left: {{ride.seats}} <br />
    <p>Passengers:</p> <br />
    <li ng-repeat="passenger in ride" ng-if="$index > 0">
      <p>{{passenger}}</p> <br />
    </li>
    <button ng-hide="rideHost" ng-click="addToRide()">I need a ride!</button>
    </p>
  </div>
  <input type="text" name="seatsBox" ng-model="numSeatsInput" ng-hide="rideHost" placeholder="# of seats you have"></div>
  <button ng-click="createRide()" ng-hide="rideHost">Host a ride!</button>
</div>
